<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hill's Model</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">

        <h1>Hill's model</h1>
        <h3>Informe a Velocidade (<span>0.1 > velocidade ≥ 4</span>) mm/s:</h3>

        <p class="texto">Para apagar digete 0.</p>
        
        <form action="/teste" method="POST">
            <div class="form-group">
                <input type="number" id="speed" name="speed", step="any">
            </div>
            <button type="submit">Enviar</button>
        </form>
        <br>    

        <div class="container">
            <div class="shadow">
                <img src="{{ url_for('static', filename='images/grafico_tamanho.png') }}" alt="grafico tamanho">
                <img src="{{ url_for('static', filename='images/grafico_calor.png') }}" alt="grafico calor">
            </dic>
        </div>

        <br>
        <div class="texto-div">
            <p class="texto">   Hill demonstrou que o calor liberado durante o encurtamento muscular é independente da velocidade de encurtamento. Esse aspecto crítico sobre a termodinâmica da contração isométrica é ilustrado pelas simulações. O modelo muscular foi liberado de um tétano isométrico a 2 s, e foi submetido a diferentes velocidades de encurtamento. O calor liberado correspondente, depende apenas da distância de encurtamento, x (aqui, x = 1 mm) e não da velocidade de encurtamento.</p>
        </div>
        
    </dic>  
    <br><br><br><br><br>

    <!-- Rodapé -->
    <footer>
        <p>&copy; 2024 - Lucas Cordeiro - UFF</p>
    </footer>

</body>
</html> 